@font-face {
	font-family: 'RF Rostin';
	src: url('../fonts/rf-rostin-bold-webfont.eot');
	src: url('../fonts/rf-rostin-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/rf-rostin-bold-webfont.woff2') format('woff2'),
	url('../fonts/rf-rostin-bold-webfont.woff') format('woff'),
	url('../fonts/rf-rostin-bold-webfont.ttf') format('truetype'),
	url('../fonts/rf-rostin-bold-webfont.svg#rf_rostinbold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'RF Rostin';
	src: url('../fonts/rf-rostin-light-webfont.eot');
	src: url('../fonts/rf-rostin-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/rf-rostin-light-webfont.woff2') format('woff2'),
	url('../fonts/rf-rostin-light-webfont.woff') format('woff'),
	url('../fonts/rf-rostin-light-webfont.ttf') format('truetype'),
	url('../fonts/rf-rostin-light-webfont.svg#sf_ui__textlight') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'RF Rostin';
	src: url('../fonts/rf-rostin-regular-webfont.eot');
	src: url('../fonts/rf-rostin-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/rf-rostin-regular-webfont.woff2') format('woff2'),
	url('../fonts/rf-rostin-regular-webfont.woff') format('woff'),
	url('../fonts/rf-rostin-regular-webfont.ttf') format('truetype'),
	url('../fonts/rf-rostin-regular-webfont.svg#sf_ui__textregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Futura PT Cond Extra Bold';
	src: url('../fonts/FuturaPTCond-ExtraBold.eot');
	src: url('../fonts/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/FuturaPTCond-ExtraBold.woff') format('woff'),
	url('../fonts/FuturaPTCond-ExtraBold.ttf') format('truetype'),
	url('../fonts/FuturaPTCond-ExtraBold.svg#sf_ui__textregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html/*,body*/ { height: 100%; background: #fff; }
body { /*position: relative; */font-family: 'Roboto', Arial, Helvitica, sans-serif; font-size: 16px; line-height: 1.2; color: #000; min-width: 320px; }
html[data-tpl="index"], html[data-tpl="catalog"] { background: #141720 url('../img/pattern.png') repeat 0 0; }
html[data-tpl="index"] body, html[data-tpl="catalog"] body { background: transparent; }
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
main { display: block; }
main:after { content: ""; display: block; }
* { -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="text"], textarea {-webkit-border-radius: 0;border-radius: 0;-webkit-appearance: none; -moz-appearance: none; appearance: none; resize: none; outline: none; }
input[type="text"]:focus, textarea:focus, button { outline: none; }
::-webkit-input-placeholder {color: #fff;}
::-moz-placeholder          {color: #fff;}
:-moz-placeholder           {color: #fff;}
:-ms-input-placeholder      {color: #fff;}
a { color: #f84706; }
.no-mobile a:hover { color: #000; }

@keyframes logo-anim {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.loader {
	background: #000;
	background: -webkit-radial-gradient(#222, #000);
	background: -o-radial-gradient(#222, #000);
	background: radial-gradient(#222, #000);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: 0.6s cubic-bezier(.3, 0, .3, .99);
	-o-transition: 0.6s cubic-bezier(.3, 0, .3, .99);
	transition: 0.6s cubic-bezier(.3, 0, .3, .99);
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	-o-transition-property: opacity, transform;
	transition-property: opacity, transform;
	transition-property: opacity, transform, -webkit-transform;
	-webkit-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.loader svg {
	width: 260px;
}
.loader-s {
	-webkit-transition: 0.6s cubic-bezier(.3, 0, .3, .99);
	-o-transition: 0.6s cubic-bezier(.3, 0, .3, .99);
	transition: 0.6s cubic-bezier(.3, 0, .3, .99);
	-webkit-transform: scale(1.7);
	-ms-transform: scale(1.7);
	transform: scale(1.7);
}
.loader-gear {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: rotate(0deg) translate(-50%, -50%);
	-ms-transform: rotate(0deg) translate(-50%, -50%);
	transform: rotate(0deg) translate(-50%, -50%);
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-animation: logo-anim 1.6s infinite;
	animation: logo-anim 1.6s infinite;
	will-change: transform;
}
.loading {
	overflow: hidden;
}
.loading .loader {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}
.loading .loader-s {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.btn-bg { display: inline-block; padding: 0.8em 1.2em; border: 0; -webkit-border-radius: 4px; border-radius: 4px; background: #f84706; text-decoration: none; text-align: center; font: 400 24px/1.15 'RF Rostin'; text-transform: uppercase; color: #fff; cursor: pointer; }

.btn-orange { background: #f84706; }
.no-mobile .btn-orange:hover { background: #cd3d08; color: #fff; }

.wrapper { overflow: hidden; min-height: -webkit-calc(100vh - 84px); min-height: calc(100vh - 84px); }
html[data-tpl="catalog"] .wrapper { padding: 0 15px; background: url('../img/top-bg-page.jpg') no-repeat 50% 0; -webkit-background-size: 100% auto; background-size: 100% auto; }
.width-wrapper { padding: 0 25px; max-width: 1230px; margin: 0 auto; }

.header-wrap { position: fixed; top: 0; left: 0; right: 0; z-index: 40; }
.header-block { position: relative; padding: 2px 0 0; height: 70px; background: #fff; border-bottom: 1px solid #ebebeb; }
html[data-tpl="index"] .header-wrap, html[data-tpl="catalog"] .header-wrap { height: 87px; }
html[data-tpl="index"] .header-wrap.__scrolled, html[data-tpl="catalog"] .header-wrap.__scrolled { background: rgba(/*248,71,6*/252,186,161,0.1); }
html[data-tpl="index"] .header-block, html[data-tpl="catalog"] .header-block { background: none; border-bottom: 0; }

.header-logo { position: relative; float: left; margin: 0; width: 111px; background: url('../img/logo.svg') no-repeat 0 0; }
.header-logo:not(.header-logo__nav) { -webkit-transition:opacity .2s ease; -o-transition:opacity .2s ease; transition:opacity .2s ease,background .2s ease; }
.header-logo__nav { display: none; float: none !important; opacity: 1 !important; background-image: url('../img/logo.svg') !important; z-index: 70; }
html[data-tpl="index"] .header-logo, html[data-tpl="catalog"] .header-logo { background-image: url('../img/logo-white.svg'); }
html[data-tpl="index"] .header-wrap.__scrolled .header-logo, html[data-tpl="catalog"] .header-wrap.__scrolled .header-logo { background-image: url('../img/logo.svg'); }
.header-logo img { position: relative; left: -9999px; width: 100%; }

.header-nav { float: right; margin: 24px -2px 0 0; font: 400 14px/1.2 'RF Rostin'; text-transform: uppercase; }
.header-nav__list { word-spacing: -0.36em; white-space: nowrap; }
.header-nav__item { display: inline-block; vertical-align: top; word-spacing: normal; letter-spacing: 0.05em; }
.header-nav__item + .header-nav__item { margin-left: 33px; }
.header-nav__link { position: relative; text-decoration: none; border-bottom: 1px dashed currentColor }
.no-mobile .header-nav__link:hover, li.__active .header-nav__link { color: #000; }

html[data-tpl="index"] .header-nav__link, html[data-tpl="catalog"] .header-nav__link { color: #fff; }
html[data-tpl="index"].no-mobile .header-nav__link:hover, html[data-tpl="catalog"].no-mobile .header-nav__link:hover { color: #f84706; }

html[data-tpl="index"] .header-wrap.__scrolled .header-nav__link, html[data-tpl="catalog"] .header-wrap.__scrolled .header-nav__link { color: #f84706; }
html[data-tpl="index"].no-mobile .header-wrap.__scrolled .header-nav__link:hover, html[data-tpl="index"] .header-wrap.__scrolled li.__active .header-nav__link, html[data-tpl="catalog"].no-mobile .header-wrap.__scrolled .header-nav__link:hover { color: #ab3409; }

.header-sandwich { display: none; float: right; position: relative; margin: 8px -18px 0 0; width: 46px; height: 46px; cursor:pointer; z-index: 50; }
.header-sandwich span { position: absolute; background: #f84706; width: 18px; height: 3px; left: 50%; top: 50%; margin-left: -9px; -webkit-transform-origin: 50% 50%; -ms-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transition-property: opacity,visibility,background-color,-webkit-transform; transition-property: opacity,visibility,background-color,-webkit-transform; transition-property: opacity,transform,visibility,background-color; transition-property: opacity,transform,visibility,background-color,-webkit-transform; transition-duration: .4s; transition-timing-function: cubic-bezier(.645,.045,.355,1);
}
.header-sandwich span:nth-child(1) { margin-top: -7px; }
.header-sandwich span:nth-child(2) { margin-top: -2px; }
.header-sandwich span:nth-child(3) { margin-top: 3px; }
.header-sandwich.__active span:nth-child(1) { -webkit-transform: translate(0,5px) rotate(-45deg); -ms-transform: translate(0,5px) rotate(-45deg); transform: translate(0,5px) rotate(-45deg); }
.header-sandwich.__active span:nth-child(2) { -webkit-transform: rotate(0) scale(1,0) translatex(40px); -ms-transform: rotate(0) scale(1,0) translatex(40px); transform: rotate(0) scale(1,0) translatex(40px); }
.header-sandwich.__active span:nth-child(3) { -webkit-transform: translate(0,-5px) rotate(45deg); -ms-transform: translate(0,-5px) rotate(45deg); transform: translate(0,-5px) rotate(45deg); }

.overlay { display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(31, 12, 60, 0.53); z-index: 60; }

.content-block { padding: 90px 0 28px; }
html[data-tpl="catalog"] .content-block { margin: 89px auto 0; padding: 53px 35px 87px; max-width: 1248px; min-height: -webkit-calc(100vh - 76px - 89px); min-height: calc(100vh - 76px - 89px); background: #fff; }
.content-block p + p { margin-top: 5px; }

.sidebar-right { float: right; width: 300px; margin-right: 2px; }

/*************** Common **************/

.breadcrumbs-block{ margin-bottom:44px; max-width: 70%; font: 300 12px/1.5 'RF Rostin'; text-transform: uppercase; }
.breadcrumbs-block__list{ word-spacing:-.36em; }
.breadcrumbs-block__item{display:inline;vertical-align:top;word-spacing:normal;margin:0 5px 0 0;}
.breadcrumbs-block__item:after{content:"/";padding-left:7px}
.breadcrumbs-block__item:last-child{margin-right:0;font-weight: 700;}
.breadcrumbs-block__item:last-child:after{content:"";display:none}
.breadcrumbs-block__link{text-decoration:none}

.section-anchor { position: relative; top: -110px; }
.section-anchor#about { top: -160px; }
.section-anchor#partners { top: -50px; }

/*************** Catalog Page **************/

.show-left__btn { display: none; }

.catalog-page__title { margin-bottom: 47px; max-width: 68%; font: 700 54px/1 'RF Rostin'; }
.catalog-side { float: left; width: 25.13%; }
.catalog-side .close-btn { display: block; }
.catalog-menu { margin-top: -16px; }
.catalog-menu__list {}
.catalog-menu__list.__level2 { padding: 17px 0 12px; }
.catalog-menu__list.__level3 { padding: 8px 0 8px; }

.catalog-menu__item {  }
.catalog-menu__list.__level1 > .catalog-menu__item { padding: 14px 0 14px 37px; }
.catalog-menu__list.__level2 > .catalog-menu__item { padding-left: 10px; }
.catalog-menu__list.__level3 > .catalog-menu__item { padding-left: 4px; margin-bottom: 1px; }
.catalog-menu__list.__level3 > .catalog-menu__item.__active { position: relative; }
.catalog-menu__list.__level3 > .catalog-menu__item.__active:after { content: ''; position: absolute; top: 0; right: -46px; width: 0; height: 0; border-style: solid; border-width: 17px 16px 17px 0; border-color: transparent #f8f6f6 transparent transparent; }

.catalog-menu__link { position: relative; display: inline-block; }
.catalog-menu__list.__level1 > .catalog-menu__item > .catalog-menu__link { font: 400 18px/1.35 'RF Rostin'; }
.catalog-menu__list.__level1 > .catalog-menu__item.__active > .catalog-menu__link { font-weight: 700; text-decoration: none; color: #000; }
.catalog-menu__list.__level2 > .catalog-menu__item.__active > .catalog-menu__link { text-decoration: none; color: #000; }
.catalog-menu__list.__level3 > .catalog-menu__item > .catalog-menu__link { padding: 5px 11px 7px; }
.catalog-menu__list.__level3 > .catalog-menu__item.__active > .catalog-menu__link { background: /*#fcf6f5*/#f1eaea; font-weight: 700; text-decoration: none; color: #000; }

.catalog-menu__pic { position: absolute; top: 0.25em; left: -2.1em; width: 1.4em; }

.catalog-menu__list.__level2 > .catalog-menu__item > .catalog-menu__link:before { content: '\0027A4'; position: absolute; top: 0.5em; left: -1.5em; width: 12px; text-align: center; font-size: 10px; color: #f84706; }
.no-mobile .catalog-menu__list.__level2 > .catalog-menu__item > .catalog-menu__link:hover:before { color: #000; }
.catalog-menu__list.__level2 > .catalog-menu__item.__active > .catalog-menu__link:before, .catalog-menu__list.__level3 > .catalog-menu__item.__active > .catalog-menu__link:before { top: 0.3em; transform: rotate(90deg); color: #000; }

.catalog-block { float: right; width: 71%; padding: 40px 40px 48px 50px; background: #f8f6f6; }
.catalog-block__list { margin-bottom: -37px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.catalog-block__title { margin-bottom: 19px; font: 700 24px/1.08 'Roboto Mono'; text-transform: uppercase; letter-spacing: 0.0275em; }
.catalog-block__item  { float: left; position: relative; margin: 0 10px 37px; -webkit-box-flex: 1; -webkit-flex: 1 1 33%; -ms-flex: 1 1 33%; flex: 1 1 33%; min-width: 220px; min-height: 300px; overflow: hidden; }
.product-item { width: 353px; font-size: 18px; font-weight: 400; line-height: 1.35; }
.product-item__pic-cont { position: relative; display: block; margin-bottom: 16px; }
.no-mobile .product-item__pic-cont:hover:after { content:''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(248, 71, 6, 0.3); }
.product-item__pic { display: block; width: 100%; }
.product-item__title { display: inline-block; margin-bottom: 14px; font: 700 18px/1.2 'RF Rostin'; text-transform: uppercase; }
.product-item__descr { letter-spacing: 0.015em; padding-right: 28px; }

/*************** Product Page **************/

.product-page__left { float: left; width: 554px; padding: 0 0 0 48px; }
.product-page__right { float: right; width: 540px; padding: 9px 49px 0 0; }

.product-page__title { margin-bottom: 32px; max-width: 75%; font: 700 64px/1.05 'RF Rostin'; }
.product-page__descr { font-family: 'RF Rostin'; line-height: 1.75; letter-spacing: -0.07em; }

.product-page__subtitle { color: #f84706; font: 700 16px/1.75 'RF Rostin'; text-transform: uppercase; letter-spacing: 0.01em; }
.product-page__subtitle:not(:first-of-type) { margin-top: 30px; }
.product-page__list { line-height: 1.2; }
.product-page__list li { list-style-type: none; position: relative; padding: 0.3125em 0 0.25em 10px; }
.product-page__list li:before { content: '\2022'; position: absolute; top: 0.342em; left: 0; }
.product-page__list-terms {}
.product-page__list-terms:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }
.product-page__list-terms dt { float: left; clear: left; width: 49%; padding-right: 5%; }
.product-page__list-terms dd { float: left; width: 50%; }
.product-page__btn { margin-top: 28px; width: 501px; padding: 1.1em 1.2em; }

.product-gallery__block{position:relative;width:491px;margin: 0 0 50px;}

.product-pics__list {position:relative;width:100%;}
.product-pics__list:before{content:'';display:block;padding-top:76.8%;}
.product-pics__item {display:none;list-style-type:none;position:absolute;top:0;left:0;width:100%;}
.product-pics__item.__active {display:block;}
.no-mobile .product-pics__item.__active:hover:after { content:''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(248, 71, 6, 0.3) url('../img/b64-src/zoom.png') no-repeat right 16px top 16px; cursor: pointer; pointer-events:none; }
.product-pics__link {display: block;}
.product-pics__pic {display:block;width:100%;}

.product-thumbs__list{display:block;word-spacing:-.36em;padding: 10px 14px 0;}
.product-thumbs__item{position: relative;word-spacing: normal;display: inline-block;list-style-type:none;width: 98px;}
.no-mobile .product-thumbs__item:not(.__active) { cursor: pointer; }
.product-thumbs__item+.product-thumbs__item{margin-left:5px;}
.no-mobile .product-thumbs__item:not(.__active):hover:after { content:''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(248, 71, 6, 0.3); }
.product-thumbs__item.__active img { outline: 1px solid #f84706;border: 1px solid #f84706; }
.product-thumbs__pic{display:block;width:100%;}

.product-widget__block { max-width: 280px; }
.product-gallery__block + .product-widget__block { margin-top: 133px; }
.product-widget__title { margin-bottom: 8px; font-size: 24px; font-weight: 700; }
.product-widget__text { margin-bottom: 21px; }
.product-widget__cont {  }

/*************** Index Page **************/

.block_title { font: 700 54px/1 'RF Rostin'; }

.info-block { padding: 114px 0 30px 72px; min-height: 770px; color: #fff; background: url('../img/top-bg.jpg') no-repeat 50% 0; -webkit-background-size: cover; background-size: cover; }
.info-block__title { width: 1000px; font: 700 62px/1.17 'RF Rostin'; letter-spacing: -0.6px; transform: translateX(-100px); }
.info-block__title a { color: #fff; text-decoration: none; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAMAAADKFy/CAAAABlBMVEX///////9VfPVsAAAAAnRSTlMAmf9A5tgAAAANSURBVAjXY2AEAgYGAAAZAAXh3FmbAAAAAElFTkSuQmCC') repeat-x left bottom 0.16em; }/*../img/b64-src/dash.png*/
.no-mobile .info-block__title a:hover { color: #f84706; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAMAAADKFy/CAAAABlBMVEX////4Rwa4To3hAAAAAnRSTlMAmf9A5tgAAAANSURBVAjXY2AEAgYGAAAZAAXh3FmbAAAAAElFTkSuQmCC'); /*../img/b64-src/dash4.png*/}

.info-block__facts { word-spacing:-.36em; margin: 77px 0 0; }
.info-block__fact { list-style-type: none; word-spacing: normal; display: inline-block; vertical-align: top; border-top: 1px solid rgba(255,255,255,0.6); padding-top: 2px; font: 700 16px/1.2 'RF Rostin'; letter-spacing: 0.63px; text-transform: uppercase; transform: translateY(-100px); opacity: 0; }
.info-block__fact + .info-block__fact { margin-left: 68px; }
.info-block__fact:nth-child(1) { margin-top: 2.55em; }
.info-block__fact:nth-child(2) { margin-top: 8.05em; }
.info-block__fact:nth-child(3) { margin-top: 2.55em; }
.info-block__num { display: block; margin-bottom: -3px; }

.big-num { position: relative; left: -6px; font: 400 78px/1.07 'Futura PT Cond Extra Bold'; text-transform: uppercase;	letter-spacing: 4px; color: rgba(255, 255, 255, 0); -webkit-text-stroke: 0.5px white; }
.big-num:before { content: attr(data-num); position: absolute; top: -0.07em; left: -0.01em; color: #fff; -webkit-text-stroke: 0; }

.products-block { padding: 63px 0 32px 72px; background: #fff; }
.products-block__rubric { margin-bottom: 77px; }
.products-block__certificated { float: left; width: 264px; height: 264px; margin: 7px 7.17% 0 -52px; padding: 131px 20px 10px; text-align: center; font-size: 18px; letter-spacing: 0.63px; background: #ffea00 url('../img/certificate.svg') no-repeat 50% 49px; -webkit-background-size: 100px 100px; background-size: 100px; -webkit-border-radius: 50%; border-radius: 50%; }
.products-block__title { margin-bottom: 35px; max-width: 85%; }
.products-block__rubric:nth-of-type(2) .products-block__title { max-width: 90%; margin-bottom: 27px; }
.products-block__rubric:nth-of-type(3) .products-block__title { max-width: 67%; }
.products-block__list { word-spacing: -0.36em; width: 80%; }
.products-block__item { list-style-type: none; display: inline-block; vertical-align: top; word-spacing: normal; margin: 0 5.3% 21px 0; width: 26.56%; min-width: 170px; font-size: 18px; line-height: 1.45; }
.products-block__item:last-child { margin-right: 0; }
.products-block__rubric:nth-of-type(3) .products-block__item { margin-bottom: 36px; }
.products-block__link {}
.products-block__pic { display: block; margin-bottom: 6px; width: 147px; }
.products-block__rubric:nth-of-type(3) .products-block__pic { margin-bottom: -8px; }

.partners-block__wrap { margin: 0 auto; max-width: 1230px; padding: 63px 43px 41px; color: #fff; }
.partners-block__title { margin-bottom: 22px; }
.partners-block__list { word-spacing: -0.36em; margin: 0 0 37px -4px; position: relative; z-index: 20; }
.partners-block__item { list-style-type: none; display: inline-block; vertical-align: top; word-spacing: normal; margin: 0 8px 4px 0; padding: 4px 9px 3px; }
.partners-block__item.__active { background: rgba(255,255,255,0.1); }
.partners-block__link { color: #606f7f; text-decoration: none; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAMAAADKFy/CAAAABlBMVEX///////9VfPVsAAAAAnRSTlMAZtJCCVUAAAAMSURBVAjXY2AEAQYAABsABgETXOkAAAAASUVORK5CYII=') repeat-x left bottom; padding-bottom: 1px; } /*../img/b64-src/dash2.png*/
.no-mobile .partners-block__link:hover { color: #fff; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAABCAMAAADKFy/CAAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAAAxJREFUCNdjYAQBBgAAGwAGARNc6QAAAABJRU5ErkJggg=='); } /*../img/b64-src/dash3.png*/
.partners-block__item.__active .partners-block__link { color: #fff; background: none; cursor: default; }
.partners-block__map { position: relative; margin: 0 auto; width: 1077px; }
.partners-block__map svg { width: 100%; }
.no-mobile .partners-block__map svg g[data-flag] { cursor: pointer; }

.partners-block__baloon { display: none; position: absolute; top: 56px; right: -11px; width: 21.45em; padding: 12px 16px 20px; color: #000; background: #f7f5f5; -webkit-border-radius: 6px; border-radius: 6px; z-index: 30; box-shadow: 1px 1px 5px rgba(0,0,0,0.5); }
.partners-block__baloon[data-country="usa"] { top: 32.5%; left: 25.4%; }
.partners-block__baloon[data-country="italy"] { top: 46.8%; right: 46%; }
.partners-block__baloon[data-country="germany"] { top: 38%; right: 46.1%; }
.partners-block__baloon[data-country="czech"] { top: 42.75%; right: 44.8%; }
.partners-block__baloon[data-country="greece"] { top: 48.8%; right: 42.1%; }
.partners-block__baloon[data-country="turkey"] { top: 48.6%; right: 38.2%; }
.partners-block__baloon[data-country="rsa"] { top: 84.3%; right: 43.4%; }
.partners-block__baloon[data-country="russia"] { top: 34.5%; right: 35.5%; }
.partners-block__baloon[data-country="india"] { top: 55.25%; right: 27.5%; }
.partners-block__baloon[data-country="china"] { top: 38.4%; right: 13.1%; }
.partners-block__baloon.more2child { width: 38.45em; }
.partners-block__baloon:before { content: ''; position: absolute; top: -15px; right: 19px; width: 17px; height: 16px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAQCAMAAADH72RtAAAAdVBMVEX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fX39fV3vPC9AAAAJnRSTlMAAQIJDBIZHyc4QEhKTFVhdoOGiI+Ym6qtvMLDy9ze5efo9fv8/veagBYAAABiSURBVHgBXc7FFcMwFAXRHyUKQ8wy8+u/RB8LLJjlXQ3pbhRWvEMpex5Ii9yH84L14ckTQMNcSQDg5wDrdhkuVl6QRVZqJdPVwBe6TAMfjcx3CSeBIyEltqA2/3CriFL4fTabKBBpGXQvDQAAAABJRU5ErkJggg==') no-repeat 0 0; } /*../img/b64-src/corn.png*/
.partners-country__list {  }
.partners-country__item { list-style-type: none; }
.more2child .partners-country__item { float: left; width: 42%; margin-bottom: 13px; border-top: 1px solid #e1e1e1; }
.more2child .partners-country__item:nth-child(even) { margin-left: 6%; }
.more2child .partners-country__item:nth-child(1), .more2child .partners-country__item:nth-child(2) { border-top: 0; }
.partners-country__item +.partners-country__item { margin-top: 13px; padding-top: 8px; border-top: 1px solid #e1e1e1; }
.more2child .partners-country__item +.partners-country__item { margin-top: 0; padding-top: 0;  }
.partners-country__link { float: right; }
.partners-country__pic { float: left; margin: 3px 0 6px; height: 45px; }
.partners-country__text { clear: both; }
.partners-block__baloon .close-btn { display: none; position: absolute; top: 15px; right: 10px; -webkit-transition:all .3s ease; -o-transition:all .3s ease; transition:all .3s ease; color: #000; cursor:pointer; }
.partners-block__baloon .close-btn:before, .partners-block__baloon .close-btn:after { content: ''; width: 18px; display: block; border-top-width: 2px; border-top-style: solid; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; border-color: #000 !important; }
.partners-block__baloon .close-btn:before { -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); }
.partners-block__baloon .close-btn:after { margin-top:-2px; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }

.clients-block { position: relative; overflow: hidden; margin: 0 auto 63px; padding: 63px 16px 17px; max-width: 1230px; -webkit-box-shadow: 0 7px 0 #898c8f inset; box-shadow: 0 7px 0 #898c8f inset; background: #fff; }
.clients-block__title { margin-bottom: 22px; }
.clients-block__pics { margin: 0 -36px 0 -55px; text-align: center; }
.clients-block__pic { margin: 0 15px 31px; height: 100px; }
.clients-block:before, .clients-block:after, .clients-block .width-wrapper:before, .clients-block .width-wrapper:after { content: ''; position: absolute; top: -24px; width: 48px; height: 48px; background: url('../img/pattern.png') repeat 0 0; }
.clients-block:before, .clients-block .width-wrapper:before { left: -24px; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.clients-block:after, .clients-block .width-wrapper:after { right: -24px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.clients-block .width-wrapper:before { top: auto; bottom: -24px; }
.clients-block .width-wrapper:after { top: auto; bottom: -24px; }
.clients-block__btn-more { display: none; text-decoration: underline; cursor: pointer; }

.about-block { padding: 211px 0 20px; min-height: 720px; color: #fff; background: url('../img/about-bg.jpg') no-repeat 50% 0; -webkit-background-size: cover; background-size: cover; }
.about-block__text { float: right; width: 397px; padding-right: 30px; line-height: 1.4; }
.about-block__title { margin-bottom: 23px; }
.about-block__text p + p { margin-top: 22px; }
.about-block__text p:first-of-type { line-height: 1.2; }
.about-block__text p:nth-of-type(2):first-letter, .about-block__text p:nth-of-type(4):first-letter { padding-left: 14px; }
.about-block__big-text { position: relative; padding: 17px 60px 0 88px; font: 700 16px/1.375 'RF Rostin'; text-transform: uppercase; letter-spacing: 0.63px; }
.about-block__big-text .big-num { position: absolute; top: 0.15em; left: -0.1em; }

.contacts-block { margin: 0 50px 120px; padding: 0 16px; line-height: 1.3; color: #fff; }
.contacts-block a { color: #fff; }
.contacts-block a[href^=tel] { text-decoration: none; border-bottom: 1px dotted currentColor; display: inline-block; line-height: 0.8em; }
.no-mobile .contacts-block a:hover { color: #f84706; }
.contacts-block__title { margin-bottom: 38px; }
.contacts-block_person { position: relative; clear: left; float: left; margin-bottom: 67px; padding-left: 154px; width: 40.35%; min-height: 110px; }
.contacts-block_person:nth-of-type(even) { clear: none; float: left; margin-left: 8.93%; }
.contacts-block_person-pic { position: absolute; top: 4px; left: 0; -webkit-border-radius: 50%; border-radius: 50%; width: 120px; }
.contacts-block_person p + p { margin-top: 20px; }
.contacts-block__left {float: left;width: 443px;}
.contacts-block__right {float: left;width: 443px;}
.contacts-block__address { clear: both; margin: -4px auto 0; width: 443px; font-size: 18px; line-height: 1.4; text-align: center; }
.contacts-block__address-phone { margin-bottom: 10px; font: 700 48px/1.3 'RF Rostin'; white-space: nowrap; }
.contacts-block__widget { float: right; margin: -471px 114px 0 0; width: 435px; }

/*************** Footer **************/

.footer-block {
	padding: 12px 0 25px;
	border-top: 1px solid #ebebeb;
}

html[data-tpl="index"] .footer-block, html[data-tpl="catalog"] .footer-block { padding: 18px 0 27px; border-top-color: rgba(255,255,255,0.1); color: #fff; }
html[data-tpl="index"] .footer-block a, html[data-tpl="catalog"] .footer-block a { color: #fff; }
html[data-tpl="index"].no-mobile .footer-block a:hover, html[data-tpl="catalog"].no-mobile .footer-block a:hover { color: #f84706; }
.logo-engine { float: right; margin: -3px 0 0; width: 76px; background: url('../img/logo-engine.svg') no-repeat 0 0; background-size: 100% auto;}
.no-mobile .logo-engine:hover { background: url('../img/logo-engine_h.svg') no-repeat 50% 0; }
.logo-engine img { width: 100%; position: relative; left: -9999px; }

@media only all and (max-width: 1260px) {
	.clients-block { margin-left: 15px; margin-right: 15px; }
}

@media only all and (max-width: 1230px) {
	.products-block__list { width: auto; }
	.products-block__title, .products-block__rubric:nth-of-type(2) .products-block__title, .products-block__rubric:nth-of-type(3) .products-block__title { max-width: 100%; }
}

@media only all and (max-width: 1190px) {
	.contacts-block__widget { margin-right: 70px; }
	
	.catalog-page__title { max-width: 100%; }
	
	.product-page__title { font-size: 54px; }
	.product-page__left { width: 50%; }
	.product-page__btn { width: 100%; }
	.product-page__right { width: 45%; }
	.product-gallery__block { width: 100%; }
	.product-thumbs__item { width: 23%; }
}

@media only all and (max-width: 1140px) {
	.info-block, .products-block { padding-left: 25px; padding-right: 25px; }
	.info-block__title { width: auto; }
	.products-block__certificated { margin-left: -32px; }
	.about-block { padding-top: 75px; padding-bottom: 50px; min-height: 1px; }
	.partners-block__map { width: 100%; }
	.clients-block { padding-left: 0; padding-right: 0; }
	.contacts-block { margin-left: 0; margin-right: 0; padding: 0 25px; }
	.contacts-block_person:nth-of-type(odd) { float: left; }
	.contacts-block_person:nth-of-type(even) { float: left; clear: none; margin-left: 8.93%; }
	.contacts-block__address { clear: both; width: auto; }
	.contacts-block__widget { clear: both; float: none; margin: 40px 0 0; }
}

@media only all and (max-width: 1060px) {
	.partners-block__baloon { top: 50% !important; right: auto !important; left: 31%; width: 38%; transform: translateY(-50%); padding-top: 40px; }
	.partners-block__baloon.more2child { width: 68%; left: 21%; }
	.partners-block__baloon:before { display: none; }
	.partners-block__baloon .close-btn { display: block; }
}

@media only all and (max-width: 1090px) {
	.header-nav { font-size: 12px; float: left; margin-left: 4%; }
	.header-nav__item + .header-nav__item { margin-left: 4%; }
}

@media only all and (max-width: 1010px) {
	.partners-block__baloon { left: 20%; width: 60%; }
	.partners-block__baloon.more2child { width: 86%; left: 7%; }
}

@media only all and (max-width: 990px) {
	.info-block { min-height: 1px; }
	.info-block__title { font-size: 48px; }
	.info-block__facts { margin-top: 35px; }
	.info-block__fact + .info-block__fact { margin-left: 8%; }
	.info-block__fact:nth-child(1), .info-block__fact:nth-child(3) { margin-top: 1.55em; }
	.info-block__fact:nth-child(2) { margin-top: 3.55em; }
	.big-num { font-size: 60px; }
	.about-block__big-text { padding-left: 75px; }
	.about-block__big-text .big-num { top: 0.32em; }
	.partners-block__baloon { font-size: 14px; }
	.contacts-block_person { padding-left: 0; width: 45%; }
	.contacts-block_person-pic { position: static; display: block; margin: 0 0 20px; }
	
	.breadcrumbs-block { max-width: 100%; }
	.catalog-page__title { font-size: 48px; }
	.catalog-menu__list.__level1 > .catalog-menu__item > .catalog-menu__link { font-size: 16px; line-height: 1.15; }
	.catalog-menu__list.__level2 > .catalog-menu__item > .catalog-menu__link { font-size: 14px; }
	.catalog-menu__list.__level3 > .catalog-menu__item > .catalog-menu__link { font-size: 14px; }
}

@media only all and (max-width: 860px) {
	.header-nav__item + .header-nav__item { margin-left: 2%; }
	
	.product-page__title { font-size: 42px; }
	.product-page__subtitle:not(:first-of-type) { margin-top: 12px; }
	.product-page__btn { padding: 0.9em 1em; font-size: 18px; }
}

@media only all and (max-width: 810px) {
	body { font-size: 14px; }
	.header-block, .header-wrap { height: auto !important; }
	.header-block { padding-bottom: 15px; }
	.header-logo:not(.header-logo__nav) { display: block; }
	.header-logo { float: none; margin: 0 auto; }
	.header-nav { float: none; margin: 0 auto; font-size: 11px; text-align: center; }
	.block_title { font-size: 38px; }
	.content-block { padding-top: 115px; }
	html[data-tpl="catalog"] .content-block { margin-top: 110px; }
	.info-block__title { font-size: 38px; }
	.info-block__facts { margin-top: 25px; }
	.info-block__fact + .info-block__fact { margin-left: 6.5%; }
	.info-block__fact:nth-child(1), .info-block__fact:nth-child(3) { margin-top: 1.05em; }
	.info-block__fact:nth-child(2) { margin-top: 3.05em; }
	.big-num { font-size: 45px; }
	.products-block__rubric { margin-bottom: 45px; }
	.products-block__rubric:last-of-type { margin-bottom: 0; }
	.products-block__certificated { float: none; margin: 30px 0; width: 220px; height: 220px; padding-top: 115px; font-size: 16px; background-position: 50% 32px; }
	.products-block__item { width: 44%; font-size: 16px; }
	.about-block { margin-bottom: 35px; padding: 35px 0; }
	.about-block__big-text { padding-left: 60px; font-size: 14px; }
	.partners-block { margin-bottom: 35px; }
	.clients-block { padding-top: 35px; padding-bottom: 5px; margin-bottom: 35px; }
	.contacts-block { margin-bottom: 35px; }
	.contacts-block_person { margin-bottom: 35px; }
	.contacts-block__address-phone { font-size: 34px; }
	
	.product-page__title { font-size: 36px; }
	.catalog-side { width: 32%; padding-left: 1.5%; }
	.catalog-menu__list.__level1 > .catalog-menu__item { padding: 8px 0 8px 0; }
	.catalog-block { width: 68%; }
	.catalog-block__title { font-size: 20px; }
	.product-item__title { font-size: 16px; }
	.product-item { font-size: 14px; }
}

@media only all and (max-width: 765px) {
	.section-anchor, .section-anchor#about { top: -135px; }
	.section-anchor#partners { top: -70px; }
	.header-nav { font-size: 11px; }
	.big-num { font-size: 40px; }
	.info-block__fact { font-size: 12px; }
	.block_title { font-size: 32px; }
	.about-block__big-text .big-num { top: 0.43em; }
	.partners-block__baloon { left: 10%; width: 80%; }
	.partners-block__baloon.more2child { width: 100%; left: 0; }
	.clients-block__pic:nth-of-type(n+12) { display: none; }
	.clients-block__btn-more { display: block; margin-bottom: 15px; font-size: 16px; }
	
	html[data-tpl="catalog"] .content-block { padding-top: 25px; }
	.catalog-page__title { font-size: 32px; }
	.catalog-block { padding: 20px 3% 20px; }
	
	.product-page__title { font-size: 36px; }
}

@media only all and (max-width: 640px) {
	.section-anchor { top: -60px; }
	.section-anchor#about { top: -35px; }
	.section-anchor#partners { top: 0px; }
	.section-anchor#contacts { top: -30px; }
	html[data-tpl="index"] .header-wrap.__scrolled, html[data-tpl="catalog"] .header-wrap.__scrolled { background: none; }
	.header-wrap.__scrolled { height: 50px !important; }
	.header-block { background: none; }
	html[data-tpl="product"] .header-wrap.__scrolled .header-block { border-bottom: 0; }
	.header-logo__nav { display: block; margin: 2px 0 30px; }
	.header-logo { float: left; }
	html[data-tpl="index"] .header-wrap.__scrolled .header-logo, html[data-tpl="catalog"] .header-wrap.__scrolled .header-logo { background-image: url('../img/logo-white.svg'); }
	.__scrolled .header-logo { opacity: 0; }
	.header-nav { display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: #fff; padding: 0 5% 5% 25px; text-align: left; font-size: 18px; }
	.header-nav__item { display: block; }
	.header-nav__item + .header-nav__item { margin-left: 0; margin-top: 22px; }
	.header-nav__link { color: #f84706 !important; }
	.header-sandwich { display: block; }
	.__scrolled .header-sandwich { color: #f84706; }
	.block_title { font-size: 24px; }
	.content-block { padding-top: 90px; }
	html[data-tpl="catalog"] .content-block { margin-top: 90px; }
	.info-block { padding-top: 78px; }
	.info-block__title { font-size: 32px; }
	.info-block__fact { margin-top: 0 !important; border-top: 0; width: 50%; margin-bottom: 20px; }
	.info-block__fact + .info-block__fact { margin-left: 0; }
	.products-block__item { font-size: 14px; }
	.about-block__text p + p { margin-top: 10px; }
	.about-block__big-text { padding: 6px 30px 0 55px; }
	.about-block__big-text .big-num { top: 0.15em; }
	
	.partners-block__wrap { padding-left: 0; padding-right: 0; }
	.partners-block__baloon { top: -20px !important; transform: none; width: 100%; left: 0; }
	.more2child .partners-country__item { float: none; width: auto; margin-bottom: 13px; }
	.more2child .partners-country__item:nth-child(even) { margin-left: 0; }
	.partners-country__item + .partners-country__item { border-top: 0/*1px solid #e1e1e1*/; }
	.clients-block__pics { margin: 0 -25px; }
	.contacts-block { padding: 0; }
	
	html[data-tpl="catalog"] .wrapper { padding: 0; }
	html[data-tpl="catalog"] .content-block { padding: 25px 25px 35px; }
	.catalog-page__title { display: none; margin-bottom: 20px; }
	.catalog-block__title { display: none; }
	.show-left__btn { display: block; margin-bottom: 20px; font-size: 12px; text-align: center; }
	.catalog-side { float: none; position: fixed; top: 0; bottom: 0; left: 0; background: #fcfcfc; width: 100%; padding: 60px 30px 30px 50px; overflow-y: auto; z-index: 60; -webkit-transform: translateX(-100%); transform: translateX(-100%); }
	.catalog-side .close-btn { position: absolute; top: 25px; right: 25px; -webkit-transition:all .3s ease; -o-transition:all .3s ease; transition:all .3s ease; color: #000; cursor:pointer; }
	.catalog-side .close-btn:before, .catalog-side .close-btn:after { content: ''; width: 18px; display: block; border-top-width: 2px; border-top-style: solid; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; border-color: #000 !important; }
	.catalog-side .close-btn:before { -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); }
	.catalog-side .close-btn:after { margin-top:-2px; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }
	.catalog-menu__list.__level2 { padding: 10px 0 0; }
	.catalog-menu__list.__level1 > .catalog-menu__item > .catalog-menu__link { font-size: 18px; line-height: 1.35; }
	.catalog-menu__list.__level2 > .catalog-menu__item > .catalog-menu__link, .catalog-menu__list.__level3 > .catalog-menu__item > .catalog-menu__link { font-size: 16px; }
	.catalog-menu__list.__level3 > .catalog-menu__item.__active:after { display: none; }
	.catalog-block { float: none; width: 100%; }
	.catalog-block__list { margin-bottom: -20px; }
	.product-item { margin-bottom: 25px; }
	
	.breadcrumbs-block { position: relative; padding-top: 20px; }
	.breadcrumbs-block:before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; width: 36px; background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); }
	.breadcrumbs-block__wrap { overflow-y: scroll; }
	.breadcrumbs-block__wrap::-webkit-scrollbar { display: none; }
	.breadcrumbs-block__list { user-select: none; white-space: nowrap; }
	.product-page__left, .product-page__right { float: none; width: 100%; }
	.product-page__left { padding-left: 0; }
	.product-page__right { padding: 25px 0 0; }
	.product-gallery__block + .product-widget__block { margin-top: 40px; }
}

@media only all and (max-width: 520px) {
	.section-anchor, .section-anchor#about, .section-anchor#contacts { top: -25px; }
	.section-anchor#partners { top: 10px; }
	.info-block { padding: 75px 0 15px; }
	.info-block__title { font-size: 28px; }
	.products-block { padding: 25px 0 1px; }
	.products-block__rubric { margin-bottom: 20px; }
	.products-block__certificated { margin: 0 auto 30px; width: 190px; height: 190px; font-size: 14px; padding-top: 100px; background-position: 50% 30px; -webkit-background-size: 80px auto; background-size: 80px auto; }
	.about-block { padding: 25px 0; margin-bottom: 25px; }
	.about-block__text { float: none; width: 100%; }
	.partners-block { padding: 0; margin-bottom: 25px; }
	.clients-block { padding: 25px 0 0; margin: 0 0 25px; }
	.clients-block:before, .clients-block:after, .clients-block .width-wrapper:before, .clients-block .width-wrapper:after { display: none; }
	.contacts-block__title { text-align: center; }
	.contacts-block_person { width: 100%; text-align: center; }
	.contacts-block_person:nth-of-type(even) { margin-left: 0; }
	.contacts-block_person-pic { margin: 0 auto 20px; }
	.contacts-block__address { text-align: center; font-size: 14px; }
	.contacts-block__address-phone { font-size: 26px; }
	.contacts-block__widget { width: 100%; }
	
	.product-page__title { font-size: 30px; }
}

@media only all and (max-width: 455px) {
	.products-block__item { display: block; width: 100%; }
	.products-block__list { margin-left: 5%; }
	.products-block__pic { margin: 0 0 6px; }
}

.featherlight{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:2147483647;text-align:center;white-space:nowrap;cursor:pointer;background:#333;background:transparent}.featherlight:last-of-type{background:rgba(0,0,0,.8)}.featherlight:before{content:"";display:inline-block;height:100%;vertical-align:middle}.featherlight .featherlight-content{position:relative;text-align:left;vertical-align:middle;display:inline-block;overflow:auto;padding:25px 25px 0;border-bottom:25px solid transparent;margin-left:5%;margin-right:5%;max-height:95%;background:#fff;cursor:auto;white-space:normal}.featherlight .featherlight-inner{display:block}.featherlight .featherlight-close-icon{position:absolute;z-index:9999;top:0;right:0;line-height:25px;width:25px;cursor:pointer;text-align:center;font-family:Arial,sans-serif;background:#fff;background:hsla(0,0%,100%,.3);color:#000;border:none;padding:0}.featherlight .featherlight-close-icon::-moz-focus-inner{border:0;padding:0}.featherlight .featherlight-image{width:100%}.featherlight-iframe .featherlight-content{border-bottom:0;padding:0;-webkit-overflow-scrolling:touch;overflow-y:scroll}.featherlight iframe{border:none}.featherlight *{-webkit-box-sizing:border-box;box-sizing:border-box}
@media only screen and (max-width:1024px){.featherlight .featherlight-content{margin-left:0;margin-right:0;max-height:98%;padding:10px 10px 0;border-bottom:10px solid transparent}}@media{.featherlight-next,.featherlight-previous{display:block;position:absolute;top:25px;right:25px;bottom:0;left:80%;cursor:pointer;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:transparent}.featherlight-previous{left:25px;right:80%}.featherlight-next:hover,.featherlight-previous:hover{background:hsla(0,0%,100%,.25)}.featherlight-next span,.featherlight-previous span{/*display:none;*/position:absolute;top:50%;left:5%;width:82%;text-align:center;font-size:80px;line-height:80px;margin-top:-40px;text-shadow:0 0 5px #fff;color:#fff;font-style:normal;font-weight:400}.featherlight-next span{right:5%;left:auto}.featherlight-next:hover span,.featherlight-previous:hover span{display:inline-block}.featherlight-loading .featherlight-next,.featherlight-loading .featherlight-previous/*,.featherlight-swipe-aware .featherlight-next,.featherlight-swipe-aware .featherlight-previous*/{display:none}}@media only screen and (max-device-width:1024px){.featherlight-next:hover,.featherlight-previous:hover{background:none}.featherlight-next span,.featherlight-previous span{display:block}}@media only screen and (max-width:1024px){.featherlight-next,.featherlight-previous{top:10px;right:10px;left:85%}.featherlight-previous{left:10px;right:85%}.featherlight-next span,.featherlight-previous span{margin-top:-30px;font-size:40px}.featherlight .featherlight-close-icon{top: 10px;right: 10px;}}

.featherlight-previous svg, .featherlight-next svg { width: 80%; }
.no-mobile .featherlight-previous:hover svg path, .no-mobile .featherlight-next:hover svg path { stroke: #000000; fill: #000000; }