/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	background-color: rgba(5, 0, 14, 0.85);
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	background-color: /*#fff*/transparent;
}

#lbCenter {
	padding: 0 62px; box-sizing: content-box;
}

#wrp { position: relative; }

.lbLoading {
	background: url(loading.svg) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 62px;
	top: 0;
	border: 0;
	background-repeat: no-repeat;
	overflow: hidden;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: /*50%*/62px;
	outline: none;
}

#lbPrevLink {
	left: 0;
	background: transparent url(prevlabel.svg) no-repeat 0 50%;
	background-size: 22px auto;
}

#lbPrevLink:hover {

}

#lbNextLink {
	right: 0;
	background: transparent url(nextlabel.svg) no-repeat 100% 50%;
	background-size: 22px auto;
}

#lbNextLink:hover {
	/*background: transparent url(nextlabel_rus.gif) no-repeat 100% 50%;*/
}

#lbBottom {
	/*font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;*/
	padding-top: 16px;
	padding-left: 62px;
	font-size: 18px;
	color: #fff;
	line-height: 1.4em;
	text-align: left;
	border: 0/*10px solid #fff*/;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	position: absolute;
	top: -25px;
	right: 10px;
	float: right;
	width: 25px;
	height: 25px;
	background: transparent url(closelabel.svg) no-repeat center;
	background-size: 100% auto;
	margin: 0;
	outline: none;
}

#lbCaption, #lbNumber {
	display: inline-block;
	vertical-align: top;
	margin-right: 27px;
}

#lbCaption {
	font-weight: 500;
}

#lbNumber {
	font-size: 16px;
	opacity: 0.65;
}

#lbPrevTextLink, #lbNextTextLink {
	display: none;;
	color: #555555;
}
#lbPrevTextLink {
	padding: 0 14px 0 0;
}

